<!DOCTYPE html>
<html ng-app="surveyData">
  <head>
    <title>Survey</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="services/SurveyFactory.js"></script>
    <script src="controllers/AnswersController.js"></script>
    <script src="controllers/ResultsController.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div ng-controller="AnswersCtrl">
        <div ng-hide="survey" ng-submit="survey = true">
        <div class="row">
          <h4>Take Our Survey!</h4>
          <div>
            <form class="form-inline" role="form" ng-submit="SurveyFactory.addAnswer()">
              <div class="form-group" >
                <label for="shows">Enter your favorite show</label>
                <input type="text" ng-model="SurveyFactory.showName" class="form-control" placeholder="Enter Show" required>
              </div>
              <div class="form-group">
                <label for="locations">Enter a place you would to travel</label>
                <input type="text" ng-model="SurveyFactory.destinationName" class="form-control" placeholder="Enter Place" required>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <div ng-show="answers.length > 5">
              <h3>Results:</h3>
            </div>
          </div>
          </div>
        </div>
        <div ng-show="survey" ng-submit="survey = false">
          <h3>Thank You</h3>
          <form>
            <button type="submit" class="btn btn-default">Go Home</button>
          </form>
        </div>

      </div>
    </div>
  </body>
</html>
